.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1264px;
  margin: 13px -62px 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 708px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 708px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  width: 274px;
  font-weight: 700;
  margin: -6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3700px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 260px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3350px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4022px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 386px;
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 605px;
  }
    .u-section-1 .u-layout-cell-2 {
    min-height: 1100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3386px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 246px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 381px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 1px;
}

.u-section-1 .u-accordion-1 {
  width: 400px;
  height: 1px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 370px;
  height: 370px;
  background-image: url("../images/newworldorder.png");
  background-position: 50% 50%;
  margin: 12px auto 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 17px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  position: relative;
  bottom: 10px;
}

.u-section-1 .u-image-2 {
  width: 370px;
  height: 246px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-3 {
  width: 370px;
  height: 370px;
  background-image: url("../images/flathearth.jpg");
  background-position: 50% 50%;
  margin: 26px auto 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-4 {
  width: 370px;
  height: 251px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-5 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-5 {
  width: 370px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-6 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 17px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-6 {
  width: 370px;
  height: 246px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-7 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-7 {
  width: 370px;
  height: 277px;
  margin: 30px -15px 0;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-8 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 529px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-8 {
  width: 164px;
  height: 307px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-link-9 {
  background-image: none;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-1 .u-icon-9 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(37, 52, 189);
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 1117px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-image-9 {
  width: 370px;
  height: 485px;
  margin: 12px -15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 500px;
  }


  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 226px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 231px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 213px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 217px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 214px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 213px;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 240px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 419px;
    margin-left: 0;
    margin-right: 0;
  }
}